@inject StorageService storage

<EditForm Model="@currentEvent" OnSubmit="@HandleSubmit">
    <InputText id="name" @bind-Value="currentEvent.Name" />
    <InputText id="description" @bind-Value="currentEvent.Description" />
    <InputText id="location" @bind-Value="currentEvent.Location" />
    <InputDate id="date" @bind-Value="currentEvent.Date" />
    <InputDate id="deadline" @bind-Value="currentEvent.Deadline" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public Event currentEvent { get; set; }

    private async void HandleSubmit()
    {
        Guid guid = Guid.NewGuid();
        try
        {
            var theEvent = new Event
            {
                Id = guid.ToString(),
                Name = currentEvent.Name,
                Description = currentEvent.Description,
                Location = currentEvent.Location,
                Date = currentEvent.Date,
                Deadline = currentEvent.Deadline,
                MaxParticipants = 4
            };

            await storage.InsertEventAsync(theEvent);

            
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
        Console.WriteLine("lksjdflksaf");
        // Process the form
        await InvokeAsync(() => {  StateHasChanged(); });
        
    }
}